/*GENERAL STYLES*/

#overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	background: #ffffff;
	z-index: 10000;
}

.bg-white {
	background-color: white;
}

.grid-h {
	display: flex;
}

h1,
h2,
h3,
h4 {
	letter-spacing: 0.2px !important;
	color: #0c3566;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	line-height: 44px;
	margin: 0 0 20px 0;
}

h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 1.3;
	margin-bottom: 20px;
}

h3 {
	font-size: 20px;
	font-weight: 600;
}

p.sub-h1 {
	color: #0c3566;
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	margin: 0;
}

.m-b-5 {
	margin-bottom: 5px;
}

.m-t-15 {
	margin-top: 15px;
}

.m-t-20 {
	margin-top: 20px;
}

.affix {
	width: 262.6px;
}

.box h1,
.box h2,
.box h3,
.box h4 {
	margin: 0 0 5px 0;
}

.no-padding {
	padding: 0 !important;
}

.btn-l {
	padding: 8px 15px;
}

.btn-xl {
	padding: 14px 80px;
}

.center:last-child {
	margin-bottom: 60px;
}

.sep {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	position: relative;
	margin: 0 -20px;
}

.sep.full {
	margin: 20px -20px;
}

.table {
	margin-bottom: 0;
}

.box h1 {
	font-size: 18px;
	margin: 0 0 5px 0;
	text-transform: capitalize;
}

.box h2 {
	font-size: 16px;
	margin: 12px 0 5px 0;
	text-transform: capitalize;
}

.box h3 {
	font-size: 13px;
	margin: 0;
	line-height: 14px;
	margin: 0px 0 5px 0;
}

.box h4 {
	font-size: 12px;
	margin: 0px 0 5px 0;
}

section {
	padding: 0 0 60px;
}

.perk img {
	width: 55px;
	max-height: 55px;
	height: auto;
}

.perk p {
	font-size: 16px;
	line-height: 25px;
	font-weight: 600;
}

/*BUTTONS*/

.btn {
	border-radius: 8px !important;
}

.buttons .btn:first-child {
	margin-right: 8px;
}

/*BUTTONS*/
.box {
	border-radius: 2px;
	padding: 20px;
	background: #ffffff;
	position: relative;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.no-shadow {
	box-shadow: none;
	border-radius: 0;
}

.border-r {
	border-right: 1px solid #e8e8e8;
}

.title-area.call-to-action {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #e8f1fd;
	padding: 40px !important;
	border-radius: 8px;
	margin: 10px 15px 50px 15px;
}

/*END GENERAL STYLES*/
/*PAGE HEADER*/

#header {
	padding: 80px 0 20px 0;
}

#header .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#header .left h1 {
	max-width: 450px;
}

/*END PAGE HEADER*/
/*CORNERSTONES*/

#products {
	padding: 80px 0;
}

#products h3 {
	font-weight: bold;
	line-height: 30px;
}

#products .wrapper {
	display: flex;
	flex-direction: row;
	padding: 0 15px;
}

#products .wrapper .perks-list {
	display: flex;
	flex-direction: row;
	margin: -10px;
	flex-wrap: wrap;
}

#products .wrapper .perks-list .perk {
	flex: 1;
	margin: 10px;
	background-color: white;
	border-radius: 8px;
	padding: 5px;
}

#products .wrapper .perks-list .perk h4 {
	margin-top: 30px;
}

#products .wrapper .perks-list .perk ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 24px;
}

/*END CORNERSTONES*/
/*RESPONSIVE*/

@media (max-width: 768px) {
	.content h2 {
		line-height: 20px;
		margin-bottom: 8px;
		margin-top: 0px;
	}
	.buttons a {
		width: 100%;
		margin: 0 0 15px 0 !important;
	}
	footer .grid-h {
		flex-direction: column;
	}
	footer .grid-h .grid-item {
		width: 100%;
	}
}

/*END RESPONSIVE*/
